{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<!-- <style>
     body{
    font-family: 'Lato', global_font_string;
    font-weight: 500;
    background-color: #081c15;
    color: whitesmoke;
    }
    
    .hood{
        margin-top: 5%;
    }
    
</style>
<br><br>
<div class="container hood">
    <div class="box">
        <div class="text-center">
        <div class="title">
            <h3>Create Business</h3>
        </div>
        <hr>
        </div>
        <form action="{%url 'create_business'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}    
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-dark " value="Create Business">
        </form>
    </div>
</div>
{% endblock %} -->